.up-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}

.up-slider-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.up-first-btn,
.up-second-btn {
  position: sticky;
  z-index: 2;
  background-color: transparent;
  border: none;
}

.up-first-btn{
  left: 0;
}

.up-second-btn{
  right: 0;
}

.up-arrow{
  min-width: 25px;
  max-width: 25px;
}

.up-arrow:hover{
  scale: 1.1;
  transition: 0.3s ease-in-out;
}
