.af-container{
border: 2px solid #1976d2;
border-radius: 8px;
backdrop-filter: blur(30px) saturate(80%) contrast(90%) brightness(150%); 
height: 70%;
width: 500px;
display: flex;
justify-content: center;
align-items: center;
}

@media screen and (max-width: 768px){
  .af-container{
    height: 60%;
    width: 90%;
  }
    
}
