.af-container{
border: 1px solid red;
height: 70%;
width: 400px;
display: flex;
justify-content: center;
align-items: center;
}

@media screen and (max-width: 768px){
  .af-container{
    height: 100%;
    width: 100%;
  }
    
}
