.movie-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
  transition: transform 0.5s ease-in-out;
  scroll-behavior: smooth;
  width: 100%;
  height: fit-content;
  position: relative;
}

.ml-carousel-controllers {
  display: flex;
  position: relative;
}

.movie-list-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ml-first-btn,
.ml-second-btn {
  position: sticky; 
  background-color: #ff000000;
  cursor: pointer;
  border: none;
  z-index: 1;
  height: 50px;
  width: 60px;
  top: 40%;
}

.ml-first-btn {
  left: 0;
}

.ml-second-btn {
  right: 0; 
}

.ml-first-btn:hover,
.ml-second-btn:hover{
  scale: 1.2;
  transition: 0.3s ease-in-out;
}



