/* .home-page-container{
    background-color: pink;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.home-page-container {
    display: grid;
    grid-template-areas:
      "Header"
      "MovieList"
      "Footer";
    grid-template-rows: auto 1fr auto; /* Header y Footer tienen altura automática, MovieList ocupa el espacio restante */
    height: 100vh;
    width: 100%;
  }
  
  
